.web_navbar {
    top: 0;
    z-index: 1000;
}

.user_sidebar {
    top: 0;
    width: 280px;
    z-index: 1030;
    right: -100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;;
}

.user_actions_toggler {
    text-align: center;
}

.user_actions .card-header{
    padding: 1.22rem 1.1rem;
}

.slided_in {
    right: 0;
}

.table-actions .btn {
    border: 1px solid transparent;
}

.button_svg_icon {
    fill: currentColor;
    height: 1rem;
}

.text-sm {
    font-size: .875rem;
}

.svg_button {
    align-items: center;
    display: inline-flex;
}

.height-1 {
    height: 1rem;
}

.crud_action_button{
    color: #3c366b;
    font-weight: 600;
}

.text-indigo-900{
    color: #3c366b;
}

.shadow-rg{
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}

.cursor-pointer{
    cursor: pointer;
}

.recordStatus1{
    background: #9ae6b4;
    height: 0.75rem;
    width: 0.75rem;
}
.recordStatus0{
    background: #e53e3e;
    height: 0.75rem;
    width: 0.75rem;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #718096;
    font-size: 1rem;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 66px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1.5rem;
}

.navbar-dark{
    background-color: #272c30;
}

@media (max-width: 991px) {
    .user_sidebar {
    }
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
}

@media (max-width: 576px) {
    .user_sidebar {
        width: 100%;
    }
}

