.web_navbar {
    top: 0;
    z-index: 1000;
}

.user_sidebar {
    top: 0;
    width: 280px;
    z-index: 1030;
    right: -100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;;
}

.user_actions_toggler {
    text-align: center;
}

.slided_in {
    right: 0;
}

.table-actions .btn {
    border: 1px solid transparent;
}

.button_svg_icon {
    fill: currentColor;
    height: 1rem;
}

.text-sm {
    font-size: .875rem;
}

.svg_button {
    align-items: center;
    display: inline-flex;
}

.height-1 {
    height: 1rem;
}

.crud_action_button{
    color: #3c366b;
    font-weight: 600;
}

.text-indigo-900{
    color: #3c366b;
}

.shadow-rg{
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}

.cursor-pointer{
    cursor: pointer;
}

.recordStatus1{
    background: #9ae6b4;
    height: 0.75rem;
    width: 0.75rem;
}
.recordStatus0{
    background: #e53e3e;
    height: 0.75rem;
    width: 0.75rem;
}

@media (max-width: 991px) {
    .user_sidebar {
    }
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
    .user_sidebar {
        width: 100%;
    }
}
